*{ margin: 0; padding: 0;}

html {
    height:100%;
    width: 100%;
    background-color: #656565;
    font-family: 'Montserrat', sans-serif;
}

.gif {
    float: left;
    width: 25%;
    position: absolute;
    transform: translateX(15%);
    margin-top: 10%;
    margin-left: 15%;
}

.gif_imagen {
    width: 100%;
    border-radius: 500px;
}

.titulo {
    position: absolute;
    left: 1000px;
    width: 40%;
    margin-top: 8%;
}

.error_404 {
    width: 25%;
    position: absolute;
    left: 1000px;
    margin-top: 16%;
    animation-name: animacion_error;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function:ease-in ;
    animation-fill-mode: both ;
}

.error {width: 100%;}

p {
    color: white;
    font-size: 32px;
}

.tuPaginaNoFueEncontrada {
    position: absolute;
    top: 70%;
    left: 55%;
}

.imagen_titulo {
    width: 60%;
}


.boton_Home  {
    background-color: #C4C4C4;
    width:18%;
    height: 10%;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 77%;
    left: 59%;
    border-radius: 50px;
    text-decoration: none;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);
    transition: 0.5s;

}

.boton_Home:hover {
    -webkit-box-shadow: 2px 2px 5px rgb(255, 255, 255);
    -moz-box-shadow: 2px 2px 5px rgb(255, 255, 255);
    filter: shadow(color=#fffefe, direction=135, strength=2);

}

.volver_Txt {
    color: rgb(82, 82, 82);
    margin-top: 7%;
}


@keyframes animacion_error {
    0%{transform: rotate(45deg);}
    50% {transform: rotate(-45deg);}
    100% {transform: rotate(45deg);}
}

